<!--Méthode recherche avec une barre de recherche-->
<!--input type="number" (click)="selectPokemon($event)"/>
<input #input (keyup)="0" type="text"/>
<p> {{ input.value }}</p-->
<!--input #input (keyup.enter)="selectPokemon(input.value)" type="number"/>
<p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon : {{ pokemonSelected?.name }}</p>
<p *ngIf="!pokemonSelected">Aucun pokémon n'a été trouvé</p>
<p *ngFor="let pokemon of pokemonList"> {{pokemon.name}} </p-->
    <div class="container" style="margin-top: 32px;">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-content">
                        <div class="input-field">
                            <input #searchBox (keyup)="search(searchBox.value)" placeholder="Rechercher un pokémon"/>
                        </div>
                        <div class="collection" style="cursor: pointer">
                            <a *ngFor="let pokemon of pokemons$ | async" (click)="goToPokemon(pokemon)" (click)="selectPokemon(pokemon.name)" class="collection-item">
                            <!--pokemon avec un $ est une convention pour dire que c'est un observable / flux de données (voir le fichier component)-->
                            <!--pipe async permet d'éviter de faire un subscribe sur un observable-->
                                {{ pokemon.name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let pokemon of pokemons$ | async" class="col m4 s6" style="cursor: pointer">
                <div class="card horizontal" (click)="goToPokemon(pokemon)" (click)="selectPokemon(pokemon.name)" pokemonBorderCard ><!-- ajouter = "red" pour changer la couleur des bordures -->
                    <div class="card-image">
                        <img [src]="pokemon.picture" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-weight:bold;">{{ pokemon.name }}</p>
                            <p><small></small>{{ pokemon.created | date:"dd/MM/yyyy" }}</p> <!-- date est un pipe natif-->
                            <span *ngFor="let type of pokemon.types" class=" {{ type | pokemonTypeColor }} " style="width: 75px; height: 30px; text-align: center; color: white; text-transform: uppercase; font-weight: bold; font-size: 10px;">
                                {{ type }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="noTerm">
                <div *ngFor="let pokemon of pokemonList" class="col m4 s6" style="cursor: pointer">
                    <div class="card horizontal" (click)="goToPokemon(pokemon)" (click)="selectPokemon(pokemon.name)" pokemonBorderCard ><!-- ajouter = "red" pour changer la couleur des bordures -->
                        <div class="card-image">
                            <img [src]="pokemon.picture" />
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-weight:bold;">{{ pokemon.name }}</p>
                                <p><small></small>{{ pokemon.created | date:"dd/MM/yyyy" }}</p> <!-- date est un pipe natif-->
                                <span *ngFor="let type of pokemon.types" class=" {{ type | pokemonTypeColor }} " style="width: 75px; height: 30px; text-align: center; color: white; text-transform: uppercase; font-weight: bold; font-size: 10px;">
                                    {{ type }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- écran large : 4 lignes écran réduit : 6 lignes -->
            </div>
        </div>
    <a class="btn-floating btn-large waves-effect waves-light red z-depth-3" style="position: fixed; bottom: 25px; right: 25px; font-weight: bold;" routerLink="/pokemon/add">+</a>