<h1></h1>
<!--Méthode recherche avec une barre de recherche-->
<!--input type="number" (click)="selectPokemon($event)"/>
<input #input (keyup)="0" type="text"/>
<p> {{ input.value }}</p-->
<!--input #input (keyup.enter)="selectPokemon(input.value)" type="number"/>
<p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon : {{ pokemonSelected?.name }}</p>
<p *ngIf="!pokemonSelected">Aucun pokémon n'a été trouvé</p>
<p *ngFor="let pokemon of pokemonList"> {{pokemon.name}} </p-->
    <div class="container">
        <div class="row">
            <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
                <div class="card horizontal" (click)="goToPokemon(pokemon)" (click)="selectPokemon(pokemon.name)" pokemonBorderCard ><!-- ajouter = "red" pour changer la couleur des bordures -->
                    <div class="card-image">
                        <img [src]="pokemon.picture" />
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-weight:bold;">{{ pokemon.name }}</p>
                            <p><small></small>{{ pokemon.created | date:"dd/MM/yyyy" }}</p> <!-- date est un pipe natif-->
                            <span *ngFor="let type of pokemon.types" class=" {{ type | pokemonTypeColor}} " style="width: 75px; height: 30px; text-align: center; color: white; text-transform: uppercase; font-weight: bold; font-size: 10px;">
                                {{ type }}
                            </span>
                        </div>
                    </div>
                </div>
             </div>
            <!-- écran large : 4 lignes écran réduit : 6 lignes -->
        </div>
    </div>
